body {
    font-family: "Fira Sans";
    font-style: normal;

}

main {
    border-radius: 10px;
    background: #1E1F29;
    width: 697px;
}

div {
    border-radius: 10px;

}

h1 {
    color: #FAFAFA;
    font-size: 36px;
    font-family: "Fira Sans";
}

label {
    color: #AFB2BF;
    font-size: 16px;
    font-weight: 400px;
    height: 58px;
}

input,
textarea,
select {
    background-color: #2E2D3D;
    color: #FAFAFA;
    min-width: 80%;
    font-family: "Fira Sans";
    font-style: normal;
    font-size: 16px;

}

button {
    border-radius: 10px;
    background: #6C38CC;
    color: #FAFAFA
}

input[type="email"] {
    background-color: red;
}