* {
    font-family: Roboto;
}

body {
    margin: 0;
}

nav {
    padding: 33px 50px;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header a {
    color: #050038;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

h1 {
    margin: 0 0 17px 0;
}

h2 {
    margin: 0 0 19px 0;

}

h1,
h2 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 58px;
    color: #050038;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

#heroButton {
    color: #FFF;
    height: 48px;
}

#heroButton:hover {
    background-color: #0730ff;
}

#heroButton:active {
    background-color: #00188d;
}

#heroImage {
    float: right;
}

.heroForm+p {
    color: #050038;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 0 52px 0;
    /* 142.857% */
}

.heroForm input:focus {
    background-color: aliceblue;
}

.heroForm input {
    border-radius: 32px;
    border: 1px solid #9B99AF;
    height: 38px;
    padding: 5px 10px;
}

.heroForm button {
    height: 48px;
    border-radius: 32px;
    border: 1px solid #4262FF;
    background: #4262FF;
    padding: 10px 20px;

}

.link {
    color: #4262FF;
    text-decoration: underline;
}

.link:hover {
    color: #0023d4;
    text-decoration: none;
}

.heroText {
    color: #050038;
    margin: 0 0 55px 0;
}

.sectionText {
    color: rgba(5, 0, 56, 0.6);
    margin: 0 0 40px 0;
}

footer {
    background: #050038;
    padding: 47px 40px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}