* {
    font-family: Roboto;
}

body {
    margin: 0;
}

nav {
    padding: 33px 50px;
    margin-bottom: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 34px;
}

header {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 60px;
}

header a {
    color: #050038;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    display: inline-flex;
}

h1 {
    margin: 0 0 17px 0;
}

h2 {
    margin: 60px 0 19px 0;
}

h1,
h2 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 58px;
    color: #050038;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 140px;
}

footer {
    background: #050038;
    padding: 47px 40px;
}

footer > div {
    color: white;
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

footer a {
    color: white;
    text-decoration: none;
}

#hero {
    display: flex;
    gap: 65px;
}

#heroButton {
    color: #fff;
    height: 48px;
}

#heroButton:hover {
    background-color: #0730ff;
}

#heroButton:active {
    background-color: #00188d;
}

.heroForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.heroLogos {
    display: flex;
    gap: 20px;
    align-items: center;
}
.heroForm + p {
    color: #050038;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 0 52px 0;
    /* 142.857% */
}

.heroForm input:focus {
    background-color: aliceblue;
}

.heroForm input {
    border-radius: 32px;
    border: 1px solid #9b99af;
    height: 38px;
    padding: 5px 10px;
}

.heroForm button {
    height: 48px;
    border-radius: 32px;
    border: 1px solid #4262ff;
    background: #4262ff;
    padding: 10px 20px;
}

.link {
    color: #4262ff;
    text-decoration: underline;
}

.link:hover {
    color: #0023d4;
    text-decoration: none;
}

.heroText {
    color: #050038;
    margin: 0 0 55px 0;
}

.sectionText {
    color: rgba(5, 0, 56, 0.6);
    margin: 0 0 40px 0;
}

.section {
    display: flex;
    gap: 116px;
}

.section-reverse {
    display: flex;
    flex-direction: row-reverse;
}
